*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: "Open Sans", sans-serif;
    color: black;
    
}

main h1 {
    font-weight: 600;
    font-size: 3rem;
}

main #mainNavBar {
    background-color: #202124;
    height: 80px;
    /* #06AED5  #086788*/
}

main .mainIntro{
    height: 100vh;
}

#mainNavBar a{
    color: #fff;
    font-size: 1.3rem;
}

.carousel-item img{
    height: 500px;
}

.todaySP{
    color: white;
    background-color: #202124;
}

.todaySP h2 {
    text-align: center;
    font-size: 3rem;
    font-weight: 600;
}

h3 {
    font-size: 2.5rem;
    font-weight: 600;
}

.todaySP section .blurb button {
    background-color: white;
    color: #202124;
    font-weight: 600;
}

#email{
    padding-left: 5px;
}
textarea{
    padding-left: 5px;
}

.social{
    padding-left: 60px;
    padding-top: 25px;
}

svg{
    margin-right: 10px;
}

.social-item{
    display: block;
    margin-bottom: 25px;
}

.reviews {
    border: 1px solid #202124;
    height: 500px;
    text-align: center;
}

.about {
    border: 1px solid royalblue;
    height: 500px;
    text-align: center;
}

footer{
    margin-top: 40px;
    max-height: 55vh;
    font-size: 20px;
}

footer h2{
    text-align: center;
    font-size: 2rem;
    font-weight: 600;
}
